# Project exclude paths
/.gradle/
/.run/
/build/
/.idea/
/out/
/run/
/data/
/cache/
/config/
/MxLibData/
/plugins/
/assets/
/bots/
/analysis_logs/

.idea
/run
.run

/src/test/kotlin/

/assets/sprites/
